

	.swapi_active_layer_parent {
		cursor: pointer !important;
		position: relative !important;
	}

	.swapi_active_layer_parent > .swapi_active_layer {
		display: block !important;
		position: absolute !important;
		left: 0px !important;
		top: 0px !important;
		right: 0px !important;
		bottom: 0px !important;
		z-index: 999 !important;
		opacity: 0 !important;
		pointer-events: none !important;
		background-color: currentColor !important;
	}

	.swapi_active_layer_parent:active > .swapi_active_layer {
		opacity: 0.5 !important;
	}

