

    [data-swapi-slugtable="swapiBtn"] .slugtable_template_swapiBtn_btnopen::after {
        content: "";
        position: absolute;
        top: auto;
        right: auto;
        bottom: calc(0px - calc(var(--btn-spacing-double-between-buttons) * 2));
        left: 50%;
        z-index: 1;
        margin-left: calc(0px - var(--btn-spacing-double-between-buttons));
        pointer-events: none;
        border: var(--btn-spacing-double-between-buttons) solid transparent;
        border-bottom-color: var(--swapi-input-background-color);
        box-sizing: content-box;
        width: auto;
        height: auto;
        filter: drop-shadow(0px -1px 0px var(--swapi-input-border-color));
    }

    [data-swapi-slugtable="swapiBtn"] .slugtable_template_swapiBtn_stateopen {
        z-index: 3;
    }

    